/* General Reset and Typography */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f4f4f9;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Side Navigation */
#sideNav {
    position: fixed;
    width: 200px;
    top: 0;
    bottom: 0;
    background-color: #000;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


#sideNav .nav-link {
    color: white;
    font-size: .8rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    transition: background-color 0.3s ease;
}

#sideNav .nav-link i {
    margin-right: 15px;
    width: 24px;
    height: 24px;
    font-size: 1.5rem;
}

#sideNav .nav-link:hover {
    background-color: #5d43cd73; /* Highlight color on hover */
}

/* Hero Section */
.hero {
    height: 40vh;
    background-image: url('/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #343a40;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    margin-left: 200px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.hero h1 {
    font-size: 2.75rem;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #000;
    letter-spacing: -1px;
}

.hero p {
    font-size: 1.2rem;
    color: #000;
font-weight: 500;
    margin-bottom: 2rem;
}

/* Hero Section */
.hero-section {
    background: linear-gradient(135deg, #9b59b6, #e74c3c);
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-section h1 {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.hero-section p {
    font-size: 1.25rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 40px auto;
}

.hero-section .cta-button {
    background-color: #5D43CD;
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.hero-section .cta-button:hover {
    background-color: #4433A2;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow on hover */
    transform: scale(1.05); /* Slight scale effect on hover */
}


/* Project Cards */
.card {
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

h2 {
    font-size: calc(1.325rem + .9vw);
    margin-bottom: 15px;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h4 {
    font-size: calc(1.275rem + .3vw);
    margin-bottom: 15px;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.card-text {
    color: #6c757d;
}

.row > .col-md-6 {
    margin-bottom: 30px;
}



#sideNav .logo {
    margin-bottom: 2rem;
}

/* Button Styles */
.btn-primary {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #ffffff !important;
    border-radius: 40px;
    padding: 10px 20px;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: #ffffff59 !important;
    color: #000 !important;
}

.btn-outline-primary {
    color: #5D43CD !important;
    border-color: #5D43CD !important;
}

.btn-outline-primary:hover {
    background-color: #29138a !important;
    color: #ffffff !important;
}

    /* Main Container Adjustments */
    header, main, footer {
        margin-left: 200px!important;
        padding: 2rem!important;
        max-width: calc(100% - 200px)!important;
    }

 
    .card-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

  /* Container for Cards */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Project Card */
.project-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensures the card takes up the full height of its container */
}

/* Project Card Content */
.project-card .card-body {
    flex-grow: 1; /* Makes the card body take up as much space as possible */
}

.project-card h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.project-card p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: auto;
}

/* Project Card Hover Effect */
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}



.project-card .read-more {
    display: inline-block;
    color: #5D43CD;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.project-card .read-more:hover {
    color: #4433A2;
}



/* About Me Section Spacing */
.about-me .col-md-8 {
    padding-left: 30px;
}

.about-me p {
    text-align: left;
    margin-bottom: 25px;
}

/* Button Hover Effect */
.btn-primary:hover {
    background-color: #4433A2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow on hover */
}

/* Optional Background Color for About Me Section */
.about-me {
    background-color: #f2f2f2; /* Very light gray background to distinguish the section */
    padding: 40px 0; /* Adds some vertical padding */
}

/* Contact Icons */
.contact-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.contact-icon {
    font-size: 1.5rem;
    color: #5D43CD;
    transition: color 0.3s ease;
}

.contact-icon:hover {
    color: #4433A2;
}


a.contact-icon {
text-decoration: none!important;
}

.footer {
    background-color: #f9f9f9;
    padding: 20px 0;
    color: #333;
}

/* Adjust for smaller devices */
@media (max-width: 768px) {
    #sideNav {
        width: 80px;
        padding-top: 1rem!important;
    }

    #sideNav .nav-link {
        flex-direction: column;
        font-size: 0.7rem;
        text-align: center;
        justify-content: center!important;
        box-sizing: border-box;
        padding: 6px;
    }

    #sideNav .nav-link img {
        margin-right: 0;
        margin-bottom: 5px;
        font-size: 1.5rem;
        width: 30px;
        height: 30px;
        justify-content: center!important;
        box-sizing: border-box;
        margin-right: 0px!important;
    }

    #sideNav .nav-link img.contact {
        margin-right: 0;
        margin-bottom: 5px;
        font-size: 1.5rem;
        width: 15px;
        height: 15px;
        justify-content: center!important;
        box-sizing: border-box;
        margin-right: 0px!important;
    }


    header, main, footer {
        margin-left: 80px!important;
        padding: 1.6rem;
        max-width: calc(100% - 80px)!important;
    }
    .img-fluid.rounded-circle {
        margin-bottom: 25px;
    }

/* Align logo and nav at the top */
#sideNav .logo img {
    max-width: 100px;
    height: auto;
    width: 100%;
    padding: 10px;
}

#projects.mt-5, .container.mt-5 {
    margin-top: 0rem!important;
}

#projects .row>* {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.hero {
    height: 55vh;

}

.project-card {
    padding: 20px!important;
    align-items: center!important;
    justify-content: center!important;
}

#about .btn.btn-primary {
    width: 100%!important;
}




}


